<html>
<head>
<link rel="stylesheet" type="text/css" href="admin.component.css">
<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

</head>
<body>
  <nav class="navbar is-danger is-bold" id="mynav">
    <div class="navbar-brand">
        <img src="assets/ssn logo.png" width="112" height="28">
      <div class="navbar-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/adminhomepage">
          Home
        </a>
          <a class="navbar-item" routerLink='/list-event' >
            events
          </a>
            <a class="navbar-item" routerLink="/list-attendance">attendence</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                admin controls
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item is-hoverable" routerLink='/enroll'>
                  view yrc members' list
                </a>
                <a class="navbar-item is-hoverable" href= "https://mail.google.com/mail/u/0/?view=cm&fs=1&to=ashwinirameshrocks@gmail.com&su= &body= &bcc=yrcemfy@gmail.com+ashwini19016@it.ssn.edu.in+ashwinir765@gmail.com+">
                  send common mail
                </a>
            </div>
          </div>

        </div>
        
      </div>
    <div class="navbar-end">
        <div class="navbar-item">
          <button class="button is-light" routerLink="/">Logout</button>
      </div>
      </div>
      
  </nav>
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">WELCOME TO SSN YOUTH RED CROSS EVENT MANAGEMENT SITE!</h3>
    
  </div>
  
  <div class="bgimg-2">
    <div class="caption">
    <span class="border" style="background-color:black;font-size:25px;color: #f7f7f7;">ABOUT US</span>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;font-size: large;">
    <p>Youth Red Cross is an extension to the Junior red cross, to the domain of the youth.
      It aims in protecting health and human life throughout the country and
      plays an essential role in disaster management.</p>
    </div>
  </div>
  
  <div class="bgimg-3">
    <div class="caption">
    <span class="border" style="background-color:black;font-size:25px;color: #f7f7f7;">OUR EVENTS</span>
    </div>
  </div>
  
  <div style="position:relative;">
    <div style="color:#ddd;background-color: black;text-align:center;padding:50px 80px;text-align: justify;">
      <marquee behaviour="alternate" truespeed = 80 direction ="left" class="mine">
          BLOOD DONATION CAMP
        </marquee>
     
        <marquee class="mine" >STEM CELL REGISTRATION</marquee>
        <marquee class="mine">EYE CAMP</marquee>
        <marquee class="mine">CAMPUS CLEANING</marquee>
        <marquee class="mine" >ORPHANAGE AND OLDAGE HOME  VISIT</marquee>
        <marquee class="mine">VOTER ID REGISTRATION CAMP</marquee>
        <marquee class="mine">COASTAL CLEANUP</marquee>
        <marquee class="mine">HOSPITAL CLEANING</marquee>
        <marquee class="mine">INDIAN RED CROSS VISIT</marquee>
        <marquee class="mine">THIDAL – SPORTS EVENT</marquee>
        <marquee class="mine">AWARENESS PROGRAMS AND WORKSHOPS</marquee>
        <marquee class="mine">ORGAN DONATION CAMP</marquee>
        <marquee class="mine">VILLAGE CAMP</marquee>
        <marquee class="mine">MARCHPAST</marquee>
  
    </div>
  </div>
  
</body>
