
.example::-webkit-scrollbar {
  display: none;
}
body{
  background-size: cover;
  background-image:url("redbg.jpeg");
  
}
p
{
  font-size: large;
  align-self: center;
}
a{
    color: white;
    font-size: large;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity : 0.9
}
.bgimg-1 {
  background-image: url("cross.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("homebg.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("bg2.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  

}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
.mine
{
  font-size: large;
  color: white;
  font-style: bold;


}