
    <head>
      <link rel="stylesheet" type="text/css" href="upload-attendance.component.css">
  
  
  </head>
  <body>
      <nav class="navbar is-danger is-bold" id="mynav">
        <div class="navbar-brand">
            <img src="assets/cross.jpg" width="112" height="28">
          <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" routerLink="/studhome">
              Home
            </a>
              <a class="navbar-item" routerlink="/events">
                events
              </a>
                <a class="navbar-item" routerlink="/studattendence">attendence</a>
              </div>
            </div>
        <div class="navbar-end">
            <div class="navbar-item">
              <button class="button is-light" routerLink="/">Logout</button>
          </div>
          </div>
      </nav>
     
      <h1 style="text-align: center;">UPLOAD ATTENDANCE</h1>
      <p><label>EVENT ID</label>
      <input class="w3-input w3-border" type="text"></p>
  
      <input type="file" id="input" />
      
    
          <div class="hero-body " id="myhero">
            </div>
  </body>